# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de editor
*.swp
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

# Arquivos de backup
*~
*.bak

# Logs
*.log

# Configurações locais ou sensíveis
.env
